*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	margin: 0
	padding: 0
	font-family: 'Ubuntu', sans-serif
	background-color: $c_bg
	color: $c_txt

h1.title
	text-align: center
	margin-top: 32px

.app
	margin: 0 auto
	+clearfix
	width: 800px

.donut-chart
	box-sizing: border-box
	display: block
	height: 200px
	width: 200px
	border: 1px solid #999
	border-right: none
	position: relative
	z-index: 0
	margin: 64px auto
	float: left
	&:last-of-type
		border-right: 1px solid #999

	.values-container
		position: absolute
		z-index: 1
		width: 100px
		height: 100px
		margin: 50px
		
		.donut-title
			text-align: center
			margin-top: 16px
			font-size: 14px
			font-weight: 300
		.app-rate-value
			text-align: center
			font-size: 32px
			font-weight: 800
